<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Basics</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <script src="https://unpkg.com/vue" defer></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Vue Course Goals</h1>
        </header>
        <section id="user-goals">
            <h2>My course goals</h2>
            <input type="text" v-model="enteredGoalValue" />
            <button @click="addGoal">Add Goal</button>
            <p v-if="goals.length === 0">
                No goals have been added yet - please start adding some!
            </p>
            <!-- there is also v-show that adds a css display none -> should be used when you show and hide a single element a lot -->
            <ul v-else>
                <!-- <li v-for="goal in goals">{{ goal }}</li> -->
                <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
                  <!-- when you are using v-for -> key="" element is used to show vue which element is which if you dont use it many bugs occur see 3-9 -->
                    <p>{{ goal }} - {{ index }}</p>
                    <input type="text" @click.stop>
                    <!-- @click.stop remove the @click="removeGoal(index)" click event from the element -->
                </li>
                <!-- you can get the index of the item in the array -->
            </ul>
            <!-- <ul>
        <li v-for="(value, key) in {name: 'Max', age: 31}"> {{ value }} - {{ key }}</li>
        () is propraiterry 
      </ul> -->
            <!-- <ul>
        <li v-for="num in 10">{{ num }}</li>
      </ul> -->
        </section>
    </body>
</html>
